################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blackbaud.Appfx.MultiselectDemo/Blackbaud.Appfx.MultiselectDemo.Catalog/obj/Debug
/Blackbaud.Appfx.MultiselectDemo/Blackbaud.AppFx.MultiselectDemo.UIModel/obj/Debug
/Blackbaud.Appfx.MultiselectDemo/.vs
